{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée est introuvable. Verifiez si vous avez accès a votre requête
    <a href="{{ path('accueil') }}">retournez sur la page d'acceuil </a>.
    </p>
{% endblock %}